<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://fakeimg.pl/400x250"
      alt="placeholder"
      >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão de Angular </a></h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit dolorem neque,
      doloribus alias nemo dolorum adipisci fugit nostrum, eligendi dignissimos voluptate.
      Laboriosam blanditiis quos, laudantium asperiores fugit aliquam recusandae nemo?
    </p>
  </div>
</div>
